# Ignore dataset folder
dataset/

# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore models if large or unnecessary
*.keras
*.h5

# Ignore generated/static content (optional)
static/uploads/
static/reports/
static/graphs/
static/pdfs/
